@inject NavigationManager Navigation

@code {
    [Parameter]
    public VerticalPosition Vertical { get; set; }

    [Parameter]
    public HorizontalPosition Horizontal { get; set; }

    [Parameter, EditorRequired]
    public required RenderFragment ChildContent { get; set; }

    [Parameter]
    public List<MenuItem> Menu { get; set; } = [];

    [Parameter]
    public bool Extend { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; } = new Dictionary<string, Object>();

    private CssBuilder MenuCssClass => new CssBuilder()
        .AddClass("transparent no-wrap")
        .AddClass("top", Vertical == VerticalPosition.Bottom)
        .AddClass("bottom", Vertical != VerticalPosition.Bottom)
        .AddClass("left", Horizontal == HorizontalPosition.Right)
        .AddClass("right-align", Horizontal == HorizontalPosition.Right)
        .AddClass("right", Horizontal != HorizontalPosition.Right);

    public abstract record MenuItem(string Text);
    public record LinkMenuItem(string Text, string? Href) : MenuItem(Text);
    public record ActionMenuItem(string Text, Action OnClick) : MenuItem(Text);
}

<Position Horizontal="@Horizontal" Vertical="@Vertical" Padding Fixed @attributes="AdditionalAttributes">
    @if (Menu.Any())
    {
        <nav class="min active">
            @ChildContent
            <menu class="@MenuCssClass">
                @foreach (var menuItem in Menu)
                {
                    <li>
                        @{
                            RenderFragment item = menuItem switch
                            {
                                LinkMenuItem link => @<Button Fill @onclick="@(() => Navigation.NavigateTo(link.Href ?? Navigation.Uri, false))">@menuItem.Text</Button>,
                                ActionMenuItem action => @<Button Fill @onclick="@action.OnClick">@menuItem.Text</Button>,
                                _ => null!
                            };
                        }

                        @item
                    </li>
                }
            </menu>
        </nav>
    }
    else if (Extend)
    {
        <nav>
            @ChildContent
        </nav>
    }
    else
    {
        @ChildContent
    }
</Position>