@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager Navigation

@code {
    [Parameter]
    public bool Fill { get; set; }

    [Parameter]
    public bool Border { get; set; }

    [Parameter]
    public bool Transparent { get; set; }

    [Parameter]
    public Size Size { get; set; } = Size.Medium;

    [Parameter]
    public Elevation Elevation { get; set; } = Elevation.NoElevate;

    [Parameter]
    public Color Color { get; set; } = Color.Default;

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public bool Docked { get; set; }

    [Parameter]
    public bool FullScreen { get; set; }

    [Parameter]
    public VerticalPosition Vertical { get; set; } = VerticalPosition.Bottom;

    [Parameter]
    public HorizontalPosition Horizontal { get; set; } = HorizontalPosition.Center;

    [Parameter, EditorRequired]
    public required RenderFragment ChildContent { get; set; }

    [Parameter, EditorRequired]
    public required List<MenuItem> MenuItems { get; set; } = [];

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; } = new Dictionary<string, Object>();

    private CssBuilder CssClass => new CssBuilder()
    .AddClass("button")
    .AddClass("fill", Fill)
    .AddClass("border", Border)
    .AddClass(Size.ToCssClass())
    .AddClass(Elevation.ToCssClass())
    .AddClass(Color.ToCssClass())
    .AddClassFromAttributes(AdditionalAttributes);

    private CssBuilder MenuCssClass => new CssBuilder()
    .AddClass("no-wrap")
    .AddClass("transparent", Transparent)
    .AddClass("docked", Docked)
    .AddClass("max", FullScreen)
    .AddClass("top", Vertical == VerticalPosition.Top)
    .AddClass("bottom", Vertical == VerticalPosition.Top)
    .AddClass("left", Horizontal == HorizontalPosition.Left)
    .AddClass("right-align", Horizontal == HorizontalPosition.Right)
    .AddClass("right", Horizontal == HorizontalPosition.Right);

    private Dictionary<string, object> Attributes()
    {
        Dictionary<string, object> attributes = new(AdditionalAttributes);

        if (Disabled)
        {
            attributes.Add("disabled", "disabled");
        }

        return attributes;
    }
}

<button @attributes="Attributes()" class="@CssClass">
    @ChildContent
    <menu class="@MenuCssClass">
        @foreach (var menuItem in MenuItems)
        {
            <li>
                @if (menuItem is LinkMenuItem link)
                {
                    <Button Fill
                        @onclick="@(() => Navigation.NavigateTo(link.Href ?? Navigation.Uri, false))">@menuItem.Text</Button>
                }
                @if (menuItem is ActionMenuItem action)
                {
                    <Button Fill
                        @onclick="@action.OnClick">@menuItem.Text</Button>
                }
            </li>
        }
    </menu>
</button>