@using Microsoft.AspNetCore.Components.Forms
@using System.Diagnostics.CodeAnalysis
@using BeerCss.Blazor.Common

@inherits Microsoft.AspNetCore.Components.Forms.InputCheckbox

@code {
    [Parameter]
    public RenderFragment? Label { get; set; }

    [Parameter]
    public string? HelpText { get; set; }

    [Parameter]
    public RenderFragment? ToggleIcon { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    private CssBuilder LabelCssClass => new CssBuilder()
    .AddClass("switch")
    .AddClass("icon", ToggleIcon is not null)
    .AddClass(CssClass)
    .AddClassFromAttributes(AdditionalAttributes);

    private CssBuilder FieldCssClass => new CssBuilder()
    .AddClass(CssClass)
    .AddClassFromAttributes(AdditionalAttributes);

    private RenderFragment RenderInput() => (builder) => base.BuildRenderTree(builder);

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (this.Disabled && this.AdditionalAttributes is null)
        {
            this.AdditionalAttributes = new Dictionary<string, object> { { "disabled", "disabled" } };
        }
        else if (this.Disabled && this.AdditionalAttributes is not null && !this.AdditionalAttributes.ContainsKey("disabled"))
        {
            this.AdditionalAttributes = new Dictionary<string, object>(this.AdditionalAttributes!) { { "disabled", "disabled" } };
        }
        else if (!this.Disabled && this.AdditionalAttributes is not null && this.AdditionalAttributes.ContainsKey("disabled"))
        {
            var attributes = new Dictionary<string, object>(this.AdditionalAttributes!);
            attributes.Remove("disabled");
            this.AdditionalAttributes = attributes;
        }
    }
}

@if (Label is not null || HelpText is not null)
{
    <div class="field middle-align">
        <nav>
            <div class="max">
                @Label
            </div>
            <label class="@LabelCssClass">
                @RenderInput()
                <span>@ToggleIcon</span>
            </label>
        </nav>
        @if (!EditContext.IsValid(this.FieldIdentifier))
        {
            <span class="error">@EditContext.GetValidationMessages(this.FieldIdentifier).FirstOrDefault()</span>
        }
        else if (HelpText is not null)
        {
            <span class="helper">@HelpText</span>
        }
    </div>
}
else
{
    <label class="@LabelCssClass">
        @RenderInput()
        <span>@ToggleIcon</span>
    </label>
}