@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public async Task AddDialog(Dialog dialog)
    {
        Dialogs.Add(dialog);
        await InvokeAsync(StateHasChanged);
    }

    public async Task RemoveDialog(Dialog dialog)
    {
        Dialogs.Remove(dialog);
        await InvokeAsync(StateHasChanged);
    }

    private List<Dialog> Dialogs { get; } = new();
}

@if (Dialogs.Any())
{
    <div class="overlay active"></div>
}

@foreach (var dialog in Dialogs)
{
    <dialog @attributes="@dialog.AdditionalAttributes" class="@dialog.CssClass">
        @if (dialog is IHaveTitle title)
        {
            <h5 class="large-space">@title.Title</h5>
        }
        <div>@dialog.Content</div>
        @if (dialog is IHaveNav nav)
        {
            <nav class="right-align">
                @nav.Nav
            </nav>
        }
    </dialog>
}

<CascadingValue Value="this">
    @ChildContent
</CascadingValue>